@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/Views/GeradorJson/Post" method="post" name="cliente">
            <label>Nome</label>
            <input type="text" name="nome" /><br />
            <label>Pontuação</label>
            <input type="text" name="pontuacao" /><br />
            <label>tempo</label>
            <input type="text" name="tempo" /><br />
            <input type="submit" /><br />
        </form>
    </div>
</body>
</html>
